<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <!--配置Enumerable类型的枚举类型处理器-->
        <!--<typeHandler-->
                <!--handler="com.mininglamp.configuration.gec.EnumTypeHandler"-->
                <!--javaType="com.mininglamp.configuration.gec.Enumerable"/>-->
    </typeHandlers>
</configuration>
